<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
<spring:beans>
       <spring:bean id="Async_JMS_ConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory" lazy-init="true" name="Bean">
            <spring:property name="brokerURL" value="${async.jms.brokerURL}"/>
        </spring:bean> 
    </spring:beans>
    <jms:activemq-connector  name="Async_JMS_Connector" specification="1.1"  validateConnections="true" acknowledgementMode="CLIENT_ACKNOWLEDGE" 
      maxRedelivery="${async.jms.maxRedelivery}" numberOfConsumers="${async.jms.numberOfConsumers}" persistentDelivery="true" 
      doc:name="Active MQ" password="${async.jms.password}" username="${async.jms.user}" connectionFactory-ref="Async_JMS_ConnectionFactory">
        <reconnect-forever frequency="${async.jms.reconnect.frequency}" />
        <service-overrides sessionHandler="org.mule.session.NullSessionHandler"/>
    </jms:activemq-connector>
    <http:listener-config name="api-httpListenerConfig" host="${endpoint.host}" port="${endpoint.port}" basePath="${endpoint.path}" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_SKRILL_API_Configuration" protocol="HTTPS" host="${GatewaySvc.Host}" port="${GatewaySvc.Port}" basePath="${GatewaySvc.BasePath}" doc:name="HTTP Request Configuration" />
    <context:property-placeholder location="classpath:skrill-inbound-adapter.properties,classpath:domain.properties"/>
    <http:request-config name="HTTP_SKRILL_DEPOSITS_API_Configuration" doc:name="HTTP Request Configuration" basePath="${GatewaySvc.BasePath}" host="${GatewaySvc.Deposits.Host}" port="${GatewaySvc.Port}" protocol="HTTPS"/>
</mule>
